* { margin: 0; padding: 0; }
h1 { margin: 5px; }
h3 span { color: #a00; border-bottom: 1px dotted #a00; cursor: pointer; }
h4,h5 { text-align: left; }
h4 span { float: right; }
h5 { font-weight: normal; }
html { background: #abcdef; font: normal 14px Calibri, Arial; }
body { width: 900px; margin: 20px auto; padding: 20px; text-align: center; background: #def; border-radius: 15px; border-right: 5px solid #89a; border-bottom: 5px solid #89a;}
input { margin: 2px; }
textarea { width: 870px; height: 220px; font: normal 11px monospace; letter-spacing: -1px; border: 1px solid #89a; padding: 10px; word-wrap: break-word; }
button { padding: 5px; }
div { text-align: left; margin-top: 10px; }
pre { height: 110px; font-size: 12px; text-align: left; font-family: monospace; background: #fff; border: 1px solid #89a; padding: 10px; }
textarea, pre { border-radius: 10px; border-right: 3px solid #89a; border-bottom: 3px solid #89a; margin-top: 10px }
p, p a { font-size: 20px; font-weight: bold; color:#f00; }