/**
  Mini CSS Minifier
  simple test file
**/

/* remove spaces and line breaks around "{" and "}" */
.braces {
  color:#001
}

/* remove spaces after ":" */
.colon { color: #002 }

/* remove spaces around ";" */
.semicolon { color: #003 ; background: #003 }

/* remove spaces around "," */
.class1 , .class2 { color: #004 }

/* remove spaces around "+" */
.class1 + .class2 { color: #005 }

/* remove spaces around ">" */
.class1 > .class2 { color: #006 }

/* remove spaces around "~" */
.class1 ~ .class2 { color: #007 }

/* remove spaces around "(" and ")" */
.parenthesis { background: url ( bg.jpg ), url ( "bg.png" ) #008 }

/* remove spaces before "@"and "!" */
@media (screen) { a { color: #009 !important } } 
@media (print) { a { color: #009 !important } }

/* remove semicolon before "}" */
.trailing_semicolon { color: #010; }      

/* Remove unnecessary "*" before ":" or ";" or after "{" */
*, *:before, *:after { color: #011; }

/* Preserve space before ":" in selectors */            
body *::placeholder :first { ;;; color: #012 ; ;  ; }

/* Remove spaces before ":" when it follows ""}" */
  :first { color: #013 }

/* Remove comments in rules */
.comment { color: #014; /* comment */ color: #014 /*
  multiline comment
*/ ; }

/* don't remove spaces between selector parts */
a    .b #c    d { color: #015; }

/* Keep one space around space-separated values */
.digits { margin:   0   -2px   0%  0 ; box-shadow: 0   2px  #000 inset ; }

/* remove leading and trailing zeros */
.leading_zero { border: 0.11em; margin: 11.0px 0.11px 0.011px 0.0px }

/* remove units after zero */
.zero_unit {
  width: 0px;
  width: 0in;
  width: 0cm;
  width: 0mm;
  width: 0em;
  width: 0rem;
  width: 0pt;
  width: 0pc;
  width: 0ex;
  width: 0ch;
  width: 0vw;
  width: 0vh;
  width: 0vmin;
  width: 0vmax;
  width: 0deg;
  width: 0rad;
  width: 0grad;
  width: 0turn;
  width: 0%;
}