/**
  Mini CSS Minifier
  advanced test file
**/


/* remove leading zeros */
.leading_zero { border: 0.11em }

/* remove units after zero */
.zero_unit {
  width: 0px;
  width: 0in;
  width: 0cm;
  width: 0mm;
  width: 0em;
  width: 0rem;
  width: 0pt;
  width: 0pc;
  width: 0ex;
  width: 0ch;
  width: 0vw;
  width: 0vh;
  width: 0vmin;
  width: 0vmax;
  width: 0%;
}

/* Convert rgb in hexadecimal */
.rgb { color: rgb(0, 11, 222); background: RGB(111, 22, 3) }

/* Minify haxadecimal colors (where applicable) */
.hexadecimal { color: #123456; background: #113355 }

/* Convert RGB to minified hexadecimal colors (where applicable) */
.rgb + .hexadecimal { color: rgb(51, 102, 153) }

/* Remove empty rules */
.empty { /* nothing */ ; /* still nothing */ ; }

/* For IE < 9: keep a space between closing parenthesis and letters */
.ie { background: url(bg.jpg) no-repeat }

/* Don't alter strings, like content */
.content:after { content: "lol;    a ( b ) * {    } "}
.content:after { content: 'lol;    a ( b ) * {    } '}

/* Remove URL/font-family quotes */
.url { background: url("http://test/test/png") }
.url { background: url('./test.png') }
.font { font-family: "Arial";}

/* Replace bold names with numbers (normal: 400, bold: 500) */
.weight { font-weight: normal }
.weight { font-weight: bold }

/* Replace hex colors with names */
.azure { color: #F0FFFF; color: #f0ffff; }
.beige { color: #f5f5bc } 
.bisque { color: #ffe4c4 } 
.brown { color: #a52a2a } 
.coral { color: #ff7f50 } 
.gold { color: #FFD700;  }
.gray{ color: #808080; }
.grey { color: #808080; }
.green { color: #008000 } 
.indigo { color: #4b0082 } 
.ivory { color: #4b0082 } 
.khaki { color: #f0e68c } 
.linen { color: #faf0e6 } 
.maroon { color: #800000 } 
.navy { color: #000080 } 
.olive { color: #808000 } 
.orange { color: #FFA500 } 
.orchid { color: #DA70D6 } 
.peru { color: #CD853F } 
.pink { color: #FFC0CB } 
.plum { color: #DDA0DD } 
.purple { color: #800080 } 
.red { color: #FF0000; } 
.red { color: #F00; } 
.salmon { color: #FA8072 } 
.sienna { color: #A0522D } 
.silver { color: #C0C0C0 } 
.snow { color: #FFFAFA } 
.tan { color: #D2B48C } 
.teal { color: #008080 } 
.tomato { color: #FF6347 } 
.violet { color: #EE82EE } 
.wheat { color: #F5DEB3 }

/* Remove space before ":" in rules only (not selectors) */
.colon { color    :   #999 }